---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Java 17
  apt:
    name: openjdk-17-jdk
    state: present

- name: Verify Java version
  command: java -version
  register: java_version
  changed_when: false

- name: Show Java version
  debug:
    var: java_version.stderr

