---
- name: Create Nexus data directory
  file:
    path: /opt/nexus-data
    state: directory
    owner: 200
    group: 200
    mode: "0777"

- name: Run Nexus container
  docker_container:
    name: nexus
    image: sonatype/nexus3:latest
    state: started
    restart_policy: always
    ports:
      - "8081:8081"
    volumes:
      - /opt/nexus-data:/nexus-data

- name: Wait for Nexus UI
  uri:
    url: "http://{{ ansible_host }}:8081"
    status_code: 200
  register: nexus_ui
  retries: 40
  delay: 10
  until: nexus_ui.status == 200

- name: Check admin.password
  stat:
    path: /opt/nexus-data/admin.password
  register: admin_password_file

- name: Check password changed marker
  stat:
    path: /opt/nexus-data/.password_changed
  register: password_marker

- name: Read admin password
  slurp:
    src: /opt/nexus-data/admin.password
  register: nexus_admin_password
  when: admin_password_file.stat.exists and not password_marker.stat.exists

- name: Decode admin password
  set_fact:
    nexus_default_password: "{{ nexus_admin_password.content | b64decode | trim }}"
  when: admin_password_file.stat.exists and not password_marker.stat.exists

- name: Change Nexus admin password (ONE TIME)
  uri:
    url: "http://{{ ansible_host }}:8081/service/rest/v1/security/users/admin/change-password"
    method: PUT
    user: admin
    password: "{{ nexus_default_password }}"
    force_basic_auth: yes
    headers:
      Content-Type: text/plain
    body: "admin123"
    status_code: 204
  when: admin_password_file.stat.exists and not password_marker.stat.exists

- name: Mark password changed
  file:
    path: /opt/nexus-data/.password_changed
    state: touch
