---
- name: Add Ansible master public key to servers
  hosts: all
  become: yes
  tasks:
    - name: Add public key to authorized_keys
      authorized_key:
        user: ubuntu
        key: "{{ lookup('file', '/home/ubuntu/.ssh/id_ed25519.pub') }}"
        state: present
