name: OnlineBookstore CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NEXUS_URL: "3.82.98.94:8082"
      NEXUS_REPO: "maven-snapshots"
      DOCKER_IMAGE: "reddi122/onlinebookstore-java:${{ github.run_number }}"

    steps:

    # ------------ CHECKOUT ------------
    - name: Checkout Repository
      uses: actions/checkout@v3

    # ------------ SETUP JAVA & MAVEN ------------
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    # ------------ SET UNIQUE VERSION ------------
    - name: Set Unique Version
      run: |
        mvn versions:set -DnewVersion=1.0.${{ github.run_number }}-SNAPSHOT
        mvn versions:commit
        echo "Version:"
        mvn help:evaluate -Dexpression=project.version -q -DforceStdout

    # ------------ BUILD CODE ------------
    - name: Build Code
      run: mvn clean compile

    # ------------ SONARQUBE ANALYSIS ------------
    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        mvn sonar:sonar \
          -Dsonar.projectKey=onlinebookstore-java \
          -Dsonar.host.url=http://3.82.98.94:8081/ \
          -Dsonar.login=$SONAR_TOKEN

    # ------------ PACKAGE WAR ------------
    - name: Build WAR
      run: mvn package -DskipTests

    # ------------ DEPLOY TO NEXUS (SNAPSHOT) ------------
    - name: Upload to Nexus Snapshot
      env:
        NEXUS_USER: ${{ secrets.NEXUS_USER }}
        NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
      run: |
        mvn deploy -DskipTests \
        -DaltDeploymentRepository=${{ env.NEXUS_REPO }}::default::http://${NEXUS_USER}:${NEXUS_PASS}@${{ env.NEXUS_URL }}/repository/${{ env.NEXUS_REPO }}

    # ------------ DOCKER LOGIN ------------
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    # ------------ BUILD DOCKER IMAGE ------------
    - name: Build Docker Image
      run: |
        docker build -t ${{ env.DOCKER_IMAGE }} .

    # ------------ PUSH DOCKER IMAGE ------------
    - name: Push Docker Image
      run: docker push ${{ env.DOCKER_IMAGE }}

