name: OnlineBookstore CI/CD

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: "reddi122/onlinebookstore-java:${{ github.run_number }}"
      NEXUS_URL: "3.82.98.94:8082"
      NEXUS_REPO: "maven-snapshots"

    steps:
    # ---------------- CHECKOUT ----------------
    - name: Checkout Code
      uses: actions/checkout@v3

    # ---------------- JAVA SETUP ----------------
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    # ---------------- MAVEN SETTINGS (NEXUS AUTH) ----------------
    - name: Configure Maven for Nexus
      run: |
        mkdir -p ~/.m2
        cat <<EOF > ~/.m2/settings.xml
        <settings>
          <servers>
            <server>
              <id>${{ env.NEXUS_REPO }}</id>
              <username>${{ secrets.NEXUS_USER }}</username>
              <password>${{ secrets.NEXUS_PASS }}</password>
            </server>
          </servers>
        </settings>
        EOF

    # ---------------- VERSION UPDATE ----------------
    - name: Set Unique Version
      run: |
        mvn versions:set -DnewVersion=1.0.${{ github.run_number }}-SNAPSHOT
        mvn versions:commit
        mvn help:evaluate -Dexpression=project.version -q -DforceStdout

    # ---------------- BUILD ----------------
    - name: Compile Code
      run: mvn clean compile

    # ---------------- SONARQUBE ----------------
    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        mvn sonar:sonar \
          -Dsonar.projectKey=onlinebookstore-java \
          -Dsonar.host.url=http://3.82.98.94:8081/ \
          -Dsonar.login=$SONAR_TOKEN

    # ---------------- PACKAGE ----------------
    - name: Build WAR
      run: mvn package -DskipTests

    # ---------------- DEPLOY TO NEXUS ----------------
    - name: Upload to Nexus (Snapshot)
      run: |
        mvn deploy -DskipTests \
          -DaltDeploymentRepository=${{ env.NEXUS_REPO }}::default::http://${{ env.NEXUS_URL }}/repository/${{ env.NEXUS_REPO }}

    # ---------------- DOCKER LOGIN ----------------
    - name: DockerHub Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}     # <-- Your secret name
        password: ${{ secrets.DOCKERHUB_PASS }}     # <-- Your secret name

    # ---------------- BUILD DOCKER IMAGE ----------------
    - name: Build Docker Image
      run: docker build -t ${{ env.DOER_IMAGE }} .

    # ---------------- PUSH DOCKER IMAGE ----------------
    - name: Push Docker Image
      run: docker push ${{ env.DOCKER_IMAGE }}
