name: OnlineBookstore CI/CD

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: "reddi122/onlinebookstore-java:${{ github.run_number }}"
      NEXUS_URL: "3.82.98.94:8082"
      NEXUS_REPO: "maven-snapshots"

    steps:

    # ---------- CHECKOUT ----------
    - name: Checkout Code
      uses: actions/checkout@v3

    # ---------- SETUP JAVA ----------
    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    # ---------- CONFIGURE MAVEN (NEXUS AUTH) ----------
    - name: Setup Maven Settings for Nexus
      run: |
        mkdir -p ~/.m2
        cat <<EOF > ~/.m2/settings.xml
        <settings>
          <servers>
            <server>
              <id>${{ env.NEXUS_REPO }}</id>
              <username>${{ secrets.NEXUS_USER }}</username>
              <password>${{ secrets.NEXUS_PASS }}</password>
            </server>
          </servers>
        </settings>
        EOF

    # ---------- SET VERSION ----------
    - name: Set Unique Version
      run: |
        mvn versions:set -DnewVersion=1.0.${{ github.run_number }}-SNAPSHOT
        mvn versions:commit
        mvn help:evaluate -Dexpression=project.version -q -DforceStdout

    # ---------- BUILD CODE ----------
    - name: Build Code
      run: mvn clean compile

    # ---------- SONARQUBE ----------
    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        mvn sonar:sonar \
          -Dsonar.projectKey=onlinebookstore-java \
          -Dsonar.host.url=http://3.82.98.94:8081/ \
          -Dsonar.login=$SONAR_TOKEN

    # ---------- BUILD WAR ----------
    - name: Package WAR
      run: mvn package -DskipTests

    # ---------- DEPLOY TO NEXUS ----------
    - name: Deploy to Nexus Snapshot Repo
      run: |
        mvn deploy -DskipTests \
          -DaltDeploymentRepository=${{ env.NEXUS_REPO }}::default::http://${{ env.NEXUS_URL }}/repository/${{ env.NEXUS_REPO }}

    # ---------- DOCKER LOGIN ----------
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    # ---------- BUILD DOCKER IMAGE ----------
    - name: Build Docker Image
      run: docker build -t ${{ env.DOCKER_IMAGE }} .

    # ---------- PUSH TO DOCKERHUB ----------
    - name: Push Docker Image
      run: docker push ${{ env.DOCKER_IMAGE }}

