name: CI-CD Pipeline

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

env:
  NEXUS_URL: http://3.82.98.94:8082/repository/maven-releases/
  GROUP_ID: com/bookstore
  ARTIFACT_ID: onlinebookstore

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      # -------------------------
      # 1. Checkout Code
      # -------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # -------------------------
      # 2. Install JDK 17
      # -------------------------
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # -------------------------
      # 3. Install Maven
      # -------------------------
      - name: Install Maven
        uses: stCarolas/setup-maven@v4
        with:
          maven-version: '3.9.6'

      # -------------------------
      # 4. SonarQube Scan
      # -------------------------
      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=onlinebookstore \
            -Dsonar.host.url=${{ secrets.SONAR_HOST }} \
            -Dsonar.login=$SONAR_TOKEN

      # -------------------------
      # 5. Build WAR
      # -------------------------
      - name: Build WAR
        run: mvn clean package -DskipTests

      # -------------------------
      # 6. Upload WAR to Nexus
      # -------------------------
      - name: Upload to Nexus
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
        run: |
          mvn deploy:deploy-file \
            -Dfile=target/onlinebookstore.war \
            -DgroupId=com.bookstore \
            -DartifactId=onlinebookstore \
            -Dversion=1.0.${{ github.run_number }} \
            -Dpackaging=war \
            -DgeneratePom=true \
            -DrepositoryId=nexus \
            -Durl=$NEXUS_URL \
            -Dusername=$NEXUS_USER \
            -Dpassword=$NEXUS_PASS

      # -------------------------
      # 7. Download Latest Artifact
      # -------------------------
      - name: Download Latest WAR
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
        run: |
          export ART_URL="$NEXUS_URL/$GROUP_ID/$ARTIFACT_ID/1.0.${{ github.run_number }}/$ARTIFACT_ID-1.0.${{ github.run_number }}.war"
          echo "Artifact URL = $ART_URL"
          curl -u $NEXUS_USER:$NEXUS_PASS -L $ART_URL -o onlinebookstore.war

      # -------------------------
      # 8. Build Docker Image
      # -------------------------
      - name: Build Docker Image
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USER }}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASS }}
        run: |
          docker build \
            --build-arg ARTIFACT_URL="$NEXUS_URL/$GROUP_ID/$ARTIFACT_ID/1.0.${{ github.run_number }}/$ARTIFACT_ID-1.0.${{ github.run_number }}.war" \
            -t $DOCKER_USER/onlinebookstore:${{ github.run_number }} .

          docker tag $DOCKER_USER/onlinebookstore:${{ github.run_number }} $DOCKER_USER/onlinebookstore:latest

      # -------------------------
      # 9. Push to DockerHub
      # -------------------------
      - name: Push to DockerHub
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USER }}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASS }}
        run: |
          echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
          docker push $DOCKER_USER/onlinebookstore:${{ github.run_number }}
          docker push $DOCKER_USER/onlinebookstore:latest
