name: OnlineBookstore CI/CD

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: reddi122/onlinebookstore-java:${{ github.run_number }}
      NEXUS_URL: 54.210.92.84:8082
      NEXUS_REPO: maven-snapshots

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: Configure Maven for Nexus
      run: |
        mkdir -p ~/.m2
        cat <<EOF > ~/.m2/settings.xml
        <settings>
          <servers>
            <server>
              <id>${{ env.NEXUS_REPO }}</id>
              <username>${{ secrets.NEXUS_USER }}</username>
              <password>${{ secrets.NEXUS_PASS }}</password>
            </server>
          </servers>
        </settings>
        EOF

    - name: Set Unique Version
      run: |
        mvn versions:set -DnewVersion=1.0.${{ github.run_number }}-SNAPSHOT
        mvn versions:commit

    - name: Compile Code
      run: mvn clean compile

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        mvn sonar:sonar \
          -Dsonar.projectKey=onlinebookstore-java \
          -Dsonar.host.url=http://54.210.92.84:8081/ \
          -Dsonar.login=$SONAR_TOKEN

    - name: Build WAR
      run: mvn package -DskipTests

    - name: Upload to Nexus (Snapshot)
      run: |
        mvn deploy -DskipTests \
          -DaltDeploymentRepository=${{ env.NEXUS_REPO }}::default::http://${{ env.NEXUS_URL }}/repository/${{ env.NEXUS_REPO }}

    - name: DockerHub Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}

    - name: Verify DOCKER_IMAGE
      run: echo "Docker Image Tag = ${{ env.DOCKER_IMAGE }}"

    - name: Build Docker Image
      run: docker build -t ${{ env.DOCKER_IMAGE }} .

    - name: Push Docker Image
      run: docker push ${{ env.DOCKER_IMAGE }}
